.line {
    font-size: 16px;
    font-family: monospace;
    background-color: #eeeeee;
    border: none;
    outline: none;
    width: 100%;
    padding: 4px;
}

.line:focus {
    background-color: lightblue;
}

.output {
    font-size: 16px;
    font-family: monospace;
    margin-top: 0px;
    margin-bottom: 0px;
}

.output-invisible {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.output-visible {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}

.header {
    height: 75px;
}

.cirrus-name {
    color: rgba(0, 0, 0, 0.54);
    font-size: 72px;
    font-family: 'Herr Von Muellerhoff', cursive;
    position: absolute;
    top: -15px;
    left: 40px;
}

.upload-box {
    position: absolute;
    top: 10px;
    right: 20px;
}

.boxen {
    width: 75%;
    margin: 0 auto;
}

.footer {
    height: 100px;
}

.error {
    color: red;
    background-color: #ffdddd;

}

/* Rules for sizing the icon. */
.material-icons.md-18 {
     font-size: 18px;
 }
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-upload:hover {
    color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-upload {
    color: rgba(0, 0, 0, 0.26);
}
