<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?n={{random_n}}">
</head>

<body>
  <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}?n={{random_n}}"></script>

  <div class="boxen">
    <input type="text" class="line" oninput="parseLines()">
    <p class="output output-invisible"></p>

    <input type="text" class="line" oninput="parseLines()">
    <p class="output output-invisible"></p>

    <input type="text" class="line" oninput="parseLines()">
    <p class="output output-invisible"></p>

    <input type="text" class="line" oninput="parseLines()">
    <p class="output output-invisible"></p>

    <input type="text" class="line" oninput="parseLines()">
    <p class="output output-invisible"></p>

    <input type="text" class="line" oninput="parseLines()">
    <p class="output output-invisible"></p>

    <input type="text" class="line" oninput="parseLines()">
    <p class="output output-invisible"></p>

    <input type="text" class="line" oninput="parseLines()">
    <p class="output output-invisible"></p>

    <input type="text" class="line" oninput="parseLines()">
    <p class="output output-invisible"></p>

    <input type="text" class="line" oninput="parseLines()">
    <p class="output output-invisible"></p>
  </div>

</body>

</html>