<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?n={{random_n}}">
</head>

<body>
  <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}?n={{random_n}}"></script>

  <div class="boxen">
    <input type="text" class="line" oninput="parseLines()">
    <p class="output output-invisible"></p>

    <input type="text" class="line" oninput="parseLines()">
    <p class="output output-invisible"></p>

    <input type="text" class="line" oninput="parseLines()">
    <p class="output output-invisible"></p>

    <input type="text" class="line" oninput="parseLines()">
    <p class="output output-invisible"></p>

    <input type="text" class="line" oninput="parseLines()">
    <p class="output output-invisible"></p>

    <input type="text" class="line" oninput="parseLines()">
    <p class="output output-invisible"></p>

    <input type="text" class="line" oninput="parseLines()">
    <p class="output output-invisible"></p>

    <input type="text" class="line" oninput="parseLines()">
    <p class="output output-invisible"></p>

    <input type="text" class="line" oninput="parseLines()">
    <p class="output output-invisible"></p>

    <input type="text" class="line" oninput="parseLines()">
    <p class="output output-invisible"></p>

    <input type="text" class="line" oninput="parseLines()">
    <p class="output output-invisible"></p>

    <input type="text" class="line" oninput="parseLines()">
    <p class="output output-invisible"></p>
  </div>

  <script>
    lines = ["# Project Euler 1",
      "from pprint import pprint",
      "",
      "# try changing this to 1000",
      "n = 10",
      "",
      "stream = list(range(n))",
      "stream = [i for i in stream if not (i%3 and i%5)]",
      "",
      "pprint(stream, compact=True)",
      "",
      "print(sum(stream))"
    ]

    for (i = 0; i < lines.length; i++) {
      document.getElementsByClassName("line")[i].value = lines[i];
    }

    parseLines();
    document.getElementsByClassName("line")[0].focus()
  </script>

</body>

</html>